# Database Configuration
DATABASE_URL="postgresql://postgres.nvwqckvqtjnzdyopacaf:bhavesh@0904@aws-0-ap-southeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

# JWT Secret
JWT_SECRET="exiYdrTh8Hw14JkkfeXMNQwfUQudjork"

# Server Configuration
PORT=5000

# Node Environment
NODE_ENV=development

# Razorpay Configuration
RAZORPAY_KEY_ID="your_razorpay_key_id"
RAZORPAY_KEY_SECRET="your_razorpay_key_secret"
RAZORPAY_WEBHOOK_SECRET="your_razorpay_webhook_secret"

# Email Configuration (for password reset)
EMAIL="bhaveshchoudhary0904@gmail.com"
EMAIL_PASSWORD="bhavesh@0904"
